<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	
	<display-name>webBase</display-name>
	
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	
	<welcome-file-list>
		<welcome-file>InitServlet</welcome-file>
		<welcome-file>/jsp/index.jsp</welcome-file>
	</welcome-file-list>
	
	<context-param>
		<param-name>LANG_PACKAGE</param-name>
		<param-value>eu.fmm.sw.lang</param-value>
	</context-param>
	
	<jsp-config>
		<taglib>
			<taglib-uri>languageTLD</taglib-uri>
			<taglib-location>/WEB-INF/tlds/language.tld</taglib-location>
		</taglib>
	</jsp-config>
	
	<resource-ref>
		<description>MySQL DDBB Connection</description>
		<res-ref-name>jdbc/base</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	
	<!-- FUNCTIONALITIES -->
	<servlet>
		<servlet-name>UserInfoJSP</servlet-name>
		<jsp-file>/jsp/common/userInfo.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserInfoJSP</servlet-name>
		<url-pattern>/UserInfoJSP</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LoginJSP</servlet-name>
		<jsp-file>/jsp/common/login.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginJSP</servlet-name>
		<url-pattern>/LoginJSP</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RegistrationJSP</servlet-name>
		<jsp-file>/jsp/common/registration.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegistrationJSP</servlet-name>
		<url-pattern>/RegistrationJSP</url-pattern>
	</servlet-mapping>
	<!-- FIN - FUNCTIONALITIES -->
	
	<servlet>
		<description>JAX-RS Tools Generated - Do not modify</description>
		<servlet-name>Jersey REST Service</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>eu.fmm.sw.rest.services</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Jersey REST Service</servlet-name>
		<url-pattern>/ask/*</url-pattern>
	</servlet-mapping>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Deny Direct Access</web-resource-name>
			<description></description>
			<url-pattern>*.jsp</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Denied</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-role>
		<role-name>Denied</role-name>
	</security-role>
	
</web-app>